@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

@black: #262626;
@highlight-green: #3FBB37;

@font-light: 300;
@font-medium: 400;
@font-bold: 700;

body {
  font-family: 'Kumbh Sans', Arial, sans-serif;
}



